.remirror-container {
  height: 100%;
  .remirror-editor-wrapper {
    height: 100%;
    padding: 16px;
    div {
      height: 100%;
      &:focus-visible {
        outline: none;
      }
    }
  }
}
