.notebooks {
  height: 100%;
  &_header {
    padding: 4px 4px;
    display: flex;
    flex-flow: row nowrap;
    border-bottom: 1px solid #ddd;
    align-items: center;
    .create-notebook-btn {
      @apply h-8 text-center shadow-sm leading-8 cursor-pointer flex flex-row flex-nowrap items-center;
      font-size: 20px;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  .notebook-item {
    @apply p-2 divide-solid hover:cursor-pointer;
    &.selected {
      @apply bg-blue-300 text-white;
    }
  }
}
