@font-face {
  font-family: "iconfont"; /* Project id 3793221 */
  src: url('iconfont.woff2?t=1669390232429') format('woff2'),
       url('iconfont.woff?t=1669390232429') format('woff'),
       url('iconfont.ttf?t=1669390232429') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-enotes-jiacu:before {
  content: "\e60e";
}

.icon-enotes-xiahuaxian:before {
  content: "\e60f";
}

.icon-enotes-xieti:before {
  content: "\e610";
}

.icon-enotes-zu:before {
  content: "\e613";
}

